.formForgotPassword {
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.title {
    font-size: 26px;
    line-height: 1em;
    font-weight: bold;
}

.subtitle {
    font-size: 22px;
    line-height: 1em;
}

.blockBtn {
    display: flex;
    justify-content: center;
}

.primaryBtn {
    background-color: #21268F;
    color: #fff;
}
