.profile{
    height: auto;
    max-height: 540px;
    width: 413px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px 33px;
    margin: auto;
    background: #F9F9FE;
    border-radius: 8px;
}

.profileTitle{
    margin: 10px 0 20px;
}

.profileInfo{
    margin-bottom: 20px;
}

.profilePhoto{
    display: block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.profileName{
    padding: 5px 0;
    text-align: center;
}

.profileItem{
    /*width: 200px;*/
    padding: 0;
    margin: 0 auto;
}

.profileFields{
    margin:0;
    padding: 5px 0;
    width: 100%;
    background: rgba(0,0,0,0);
    border:none;
    outline: none;
    border-bottom: 2px solid #2D2E46;
    color:#000;
    transition: .3s;
}

.profileFields:focus{
    border:none;
    outline: none;
    border-bottom: 2px solid #21268F;
}

.profileFieldsError{
    border-bottom: 2px solid red;
}

.profileButton{
    display: block;
    margin: 20px auto;
    width: 266px;
    height: 36px;

    background: #21268F;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border:none;
    border-radius: 30px;
    color:#fff;
    transition: .3s;
    cursor: pointer;
}

.profileButton:hover,.authButton:focus{
    background: #2D2E46;
}

.profileLogOut{
    display: block;
    margin: 20px auto;
    width: 266px;
    height: 36px;

    background: #f00;
    box-shadow: 0px 4px 18px rgba(255, 0, 0, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border:none;
    border-radius: 30px;
    color:#fff;
    transition: .3s;
    cursor: pointer;
}

.profileLogOut:hover,.profileLogOut:focus{
    background: #9b0707;
}